
local.properties
.idea/workspace.xml
local.properties
.idea/vcs.xml
.idea/misc.xml
local.properties
.gradle/7.4.2/gc.properties
.gradle/7.4.2/fileHashes/fileHashes.lock
.gradle/7.4.2/fileHashes/fileHashes.bin
.gradle/7.4.2/fileChanges/last-build.bin
.gradle/7.4.2/executionHistory/executionHistory.lock
.gradle/7.4.2/dependencies-accessors/gc.properties
.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4.2/checksums/checksums.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/vcs-1/gc.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
local.properties
local.properties
local.properties
